{{ "id": "minefield/css/direction/selector", "default": "", "options": ["","#direction", ".direction", "direction"] }} {
  border: {{ "id": "minefield/css/direction/border", "default": "", "width": 20 }};
  padding: {{ "id": "minefield/css/direction/padding", "default": "", "width": 20 }};
  border-radius: {{ "id": "minefield/css/direction/border-radius", "default": "", "width": 20 }};
}

.on-off {
  background-color: green;
}

.on.on-off, .on.on-off:hover {
  background-color: red;
}

